<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <link rel="icon" href="static/download-removebg-preview.png"> 
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <div class="pag-inicial">
        <img src="static/download-removebg-preview.png">
        <h1> Teams paraguaio</h1>
        <h2 class="frase-inspiradora"> "Se não for aluno ainda, não se preocupe, dá tempo de não ser"</h2>
        <h2 class="frase-inspiradora"> "Não ligamos se sua lição não foi corrigida"</h2>
        <h2 class="frase-inspiradora"> "Se quiser reclamar, não reclame, guarde para você"</h2>
    <div class="botoes">
     <a href="/login">Fazer Login</a>
     <a href="cadastro.html">Cadastrar-se</a>

      </div>
    </div>
</body>
</html>