<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="shortcut icon" href="download-removebg-preview.png" type="image/x-icon">
    
</head>
<body class="Login">
  
    <div class="caixa-de-login">
      <h2>Login</h2>
      <div class="senha-Usuário"> 
        <div class="Usuário"> 
          <p>Usuário</p>
          <input type="text" name="Usuário">
        </div>
        <div class="senha">
          <p>Senha</p>
        <input type="senha" name="senha">
        </div>

        <br>
      </div>
      <a href="página do aluno.html">Entrar</a>
    </div>



</body>
    
</body>
</html>