<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="static/download-removebg-preview.png"> 
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body class="pagina-do-aluno2">
    <div class="página-do-aluno">
        <img src="static/download-removebg-preview.png">
        <h1>Página do aluno</h1>
        
    <div class="botoes">
     <a href="/chat">Chat com professor</a>
     <a href="atividades que vencem em breve.html">Atividades que vencem em breve</a>
     <a href="atividades pendentes.html">Atividades pendentes</a>
     <a href="provas.html">provas</a>
      </div>
    </div>
</body>
</html>